---
	import BackArrow from '../components/BackArrow.astro';
	import Zoompic from '../components/Zoompic.astro';
	let title = 'JoetteVisit';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../styles/global.css";
		</style>
	</head>

	<body class="zoom-main">
		<BackArrow addr="/" />
		<Zoompic src="/assets/20210617_144141-2.webp" />
	</body>
</html>